.side-bar{
    font-size: 13.5px;
    width: 160px;
    height: 100vh;
    position: fixed;
    top: 57px;
    left: 0;
    right: 0;
    padding-top: 1rem;
    padding-left: 0.8rem;
    background-color: white;
}

.city-link, .price-link{
    text-decoration: none;
    color: black
}

.city, .price, .sort-container{
    padding-top: 30px;
}

.city-link:hover, .price-link:hover{
    font-weight: 800;
}

